<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h3 {
          border: 2px solid black;
          outline: #ff4d4d solid 10px;
          margin: auto;  
          padding: 20px;
          text-align: center;
        }
        </style>
</head>
<body bgcolor="#ffffb3">
    <h2 align="right">Username : {{user}}</h2>
    <h2 align="right"><a href="http://127.0.0.1:8000/">sign out</a></h2>
    <h1 style="background-color:DodgerBlue;"><center>--Choose the question you want to poll for--</center></h1>
    
    <h3>Questions:-</h3>
    {% if latest_question_list %}
    <h1>
    <ol>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ol>
    </h1>
{% else %}
    <p>No polls are available.</p>
{% endif %}

    
    
</body>
</html>


