<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
          input[type=button] {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
        </style>
</head>
<body bgcolor="pink">
   <center><h3>ADD QUESTION OVER HERE</h3></center> <center><button><p><a href="http://127.0.0.1:8000/admin/polls/question/add/">ADD QUESTION</a></p></button></center>
   <center><h3>ADD CHOICES OVER HERE</h3></center>  <center><button><p><a href="http://127.0.0.1:8000/admin/polls/choice/add/">  ADD CHOICES</a></p></button></center>
</body>
</html>